<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="aboutme">
    <h2 class="w3-wide">About Me</h2>
    <br>
    <p class="w3-justify">
        Hello, I am an engineering undergraduate based in New Delhi, India. I am majoring in Information Technology.
        I have a diverse set of skills, ranging from web development, to Machine Intelligence, all the way to
        development of sophisticated Robot Software. I enjoy building real-world applications and solving problems
        dealing with Computer Vision and Autonomous Systems' perception. I primarily develop in Python.
    </p>
    <p class="w3-justify">
        Interested in working together? Let's have a talk.
    </p>
    <div class="w3-center">
        <form method="get" action="https://drive.google.com/file/d/1rzSEjNItG83X9wQU23zSiCr6eMgMahBQ/view">
            <div class="w3-xxxlarge">
                <button class="buttonResume">RESUME<i class="fa fa-file" style="padding-left: 20px"></i></button>
            </div>
        </form>
    </div>
</div>