<div class="w3-container w3-content w3-padding-64" style="max-width:1200px" id="achievements">
    <h2 class="w3-wide w3-center">ACHIEVEMENTS</h2>
    <br>
    <div class="w3-container">
        <ul class="w3-ul w3-card-4">
            <li class="w3-bar">
                <img src="https://media.licdn.com/dms/image/C560BAQGZE49sXTCCAA/company-logo_200_200/0?e=2159024400&v=beta&t=V2FeU1pJmROcykmcDM6_GilXw9eJrLqYJoXz0U2gj4A"
                    class="w3-bar-item w3-circle" style="width:110px">
                <div class="w3-bar-item">
                    <span class="w3-large">Finalist: SKYHACK 2018</span><br>
                    <span class="w3-medium">August 2018; AIC@36Inc, Raipur</span><br>
                    <span style="font-size: 14px">Qualified for the Finals among the top 5 teams nationally for the
                        Hackathon
                        organised by the
                        Chhattisgarh Government in Raipur.</span>
                </div>
            </li>
            <li class="w3-bar">
                <img src="https://lh3.googleusercontent.com/m_XJyxCvjXzqUsrH71E8X5_7jJ-3yVaKAgcUeb6hj_v2D3Q_pcyK_7_Q8Yr_pNHIinKgXvAyxbf1hBx_O3P2pZE2pye5t390FOeFedBbxtIUj3wbwQ5DIx-EIxg3LMNZS38FLVq22IKz-Or_7isXoBGmtB8xBEOUA0Iuqo_NMItEAEe6QaP8NKPBJkKVHkxp0jofZYMZOW8XvrxTA1OGcadvdQlJl7aOx2vB9srrMTn1tcJNvwJjdR0kuJvJz4szX6mwxgVqnNYAfK4LLNX4Ho5HwynWD1ax93_MAB4dclP946bB9y3L4Mf5I0_mu_CWWPnEhafxL9bh39rXC2Yx5Xk502BIrrmS-_uCgU4iDAbk-3zgkDjDhy0-CZ95ebu0MkFa013byBIO1c2ELaXJwOo-Nc51Mpio-PdHPHbYw5s6-f_uqkTG-WFcpTttGag-NazF24HJNnZPI9fRReRkESm0yUusz_HPSjYaxI5QuTRwNOcNO0a2sVLNb44cj8S4E6XPZ0uKuavMQigKWXddk9YDiDVmDCxxFaFE2jbdp3aLBQCuU-PCp1LI5M6SPyURPOeIuKZtnKNatGPqYGgwdpNehv6CrBzgw2KkLNc5nhrmcMFIxhXXHAJVFpB0QO7Cu7W3e7e8KtkMgwdOAIJKEZCx_qYEYG4d=w159-h113-no"
                    class="w3-bar-item w3-circle" style="width:110px">
                <div class="w3-bar-item">
                    <span class="w3-large">Third: Hack@BVP 2.0</span><br>
                    <span class="w3-medium">October 2018; BVCOE, New
                        Delhi</span><br>
                    <span style="font-size: 14px">Secured Third position at BVCOE’s Hackathon.</span>
                </div>
            </li>
            <li class="w3-bar">
                <img src="https://cdn.wallpapersafari.com/47/0/sprfZN.jpg" class="w3-bar-item w3-circle"
                    style="width:110px">
                <div class="w3-bar-item">
                    <span class="w3-large">Finalist: Tata Innoverse Hackathon 2019</span><br>
                    <span class="w3-medium">February 2019; NIT, New Delhi</span><br>
                    <span style="font-size: 14px">Finalists for the Hackathon organised by TATA group at NIT
                        Delhi.</span>
                </div>
            </li>
            <li class="w3-bar">
                <img src="https://upload.wikimedia.org/wikipedia/en/4/4e/Indira_Gandhi_Delhi_Technical_University_for_Women_logo.png"
                    class="w3-bar-item w3-circle" style="width:110px">
                <div class="w3-bar-item">
                    <span class="w3-large">Winner: Technovation at Innerve</span><br>
                    <span class="w3-medium">October 2017,2018; IGDTUW, New Delhi</span><br>
                    <span style="font-size: 14px">Won the first position at IGDTUW’s Techfest in the Ideathon event for
                        two years consecutively.</span>
                </div>
            </li>
            <li class="w3-bar">
                <img src="http://www.nsit.ac.in/static/images/nsut_logo.png" class="w3-bar-item w3-circle"
                    style="width:110px">
                <div class="w3-bar-item">
                    <span class="w3-large">Second: Ideathon at Innovision</span><br>
                    <span class="w3-medium">October 2018; NSUT, New Delhi</span><br>
                    <span style="font-size: 14px">Won the second position at NSUT’s Techfest in the Ideathon
                        event.</span>
                </div>
            </li>
            <li class="w3-bar">
                <img src="https://lh3.googleusercontent.com/z5sXWVulsYySxG3leKZx5EkMw3nWL36GLhDHvv4g0tOvln5O1SzT1E9i-iU-B0IMwt0kzeSzxJkJCXPAQItqgaatEM0SR9xyt3TVP6SIve4UOE9ycI57yU7SWN2ZsGV1JBXX08gIRGpmIKUDztTUUe3kvswKjuEVEs2HMr4qc4AO6NSLL8TBVZQMMU2yUxK2q4_mf3okjGtppVjHu4SZ151TMA_20ITiBhiObfB6CvGdwepEPUAhleiwA8s3-RMjF8aTuKjwUHYskEjr-uy4kEwaGecxlkjwXE0ZVTNWIPKlRjfTX7PXQNqH262Vc0mXf5TQTRL30DWOubhfv86AGbuU41i7tLXcpdrzaa6S-fAbcdX-LT2CGqf9zMgUZzq-PmqhHvyF7nLD6HajA7iN7RE3zo1rNIXc8ZsAka7a1KMd7Ix9L-gwR8lZZsmqCEZKMwB1cW04JaQ6l6IfXFyQsIzb546LWD4q6F3pSESZHyRbKcxOsXfMA--mviEwJ5nDZPkss4vfJqgKH9ElzbUmPdyQ97oA73WtyIz9tBJbu5tvp15Glt5lAlZRfs1wm6KDEIz91FqcJVl5eKTqJevRerM7CVXxDYcJsuHqZKuFI5MAV_SbmB7j5hUWRBRNshpknL7c41xCFxRnHkG2oDlCHNOcPaABWl45=w273-h365-no"
                    class="w3-bar-item w3-circle" style="width:110px">
                <div class="w3-bar-item">
                    <span class="w3-large">Winner: Robo Soccer & Robo Race</span><br>
                    <span class="w3-medium">2017; IGDTUW, MSIT, BVCOE, CIC, New Delhi</span><br>
                    <span style="font-size: 14px">Won the first position in Robo Soccer and Robo Race at multiple
                        colleges in Delhi.</span>
                </div>
            </li>
        </ul>
    </div>
</div>