<style>
    @media only screen and (max-width: 600px) {
        #socialmediabuttons {
            font-size: 8vw;
        }

        #info {
            padding-left: 5vw;
            padding-bottom: 1.732vw;
        }

        #dropamsg {
            padding-top: 1.732vw;
        }

        #mailbtn {
            width: 100%;

        }

    }

    td a+a {
        padding-left: 3em;
    }

    .buttonResume {
        background-color: rgb(0, 0, 0);
        /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .buttonResume:hover {
        background-color: #555555;
        color: white;
    }
</style>

<div id="contact">
    <div class="w3-container w3-black w3-content w3-padding-64" style="max-width:1600px">
        <div class="w3-content" style="max-width:800px">
            <h2 class="w3-wide w3-center">Let's Connect!</h2>
            <div class="w3-row w3-padding-32">
                <div class="w3-col m6 w3-large w3-margin-bottom" id="info">
                    <i class="fa fa-map-marker" style="width:30px"></i> New Delhi, IN<br>
                    <i class="fa fa-phone" style="width:30px"></i>+91 9871838880<br>
                    <i class="fa fa-envelope" style="width:30px"> </i> vinayakk.garg99@gmail.com<br>
                </div>
                <div class="w3-col m6">
                    <div class="w3-row-padding">
                        <a href="mailto:vinayakk.garg99@gmail.com" target="_blank">
                            <button id="mailbtn" class=" w3-button w3-white w3-section w3-right" type="submit"
                                style="border: 1px solid black;">
                                <i class=" fa fa-mail-reply"></i>
                                DROP ME A MESSAGE
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="w3-padding-16 w3-center w3-margin-top">
        <div class="w3-xxlarge w3-padding-8">
            <span id="socialmediabuttons">
                <a href=" https://www.facebook.com/vinayakk.garg.1"> <i
                        class="fa fa-facebook-f w3-hover-opacity"></i></a>
                <a style="padding-left:7.2vw;" href="https://www.instagram.com/vinayakkgarg/"><i
                        class="fa fa-instagram w3-hover-opacity"></i></a>
                <a style="padding-left:7.2vw;" href="https://twitter.com/GargVinayakk"><i
                        class="fa fa-twitter w3-hover-opacity"></i></a>
                <a style="padding-left:7.2vw;" href="https://www.linkedin.com/in/vinayakk-garg-538434143/"><i
                        class="fa fa-linkedin w3-hover-opacity"></i></a>
                <a style="padding-left:7.2vw;" href="https://github.com/vinayakkgarg"> <i
                        class="fa fa-github w3-hover-opacity"></i></a>
            </span>
        </div>
    </footer>
</div>