<style>
    .bg-company-black {
        background-color: black !important;
    }

    .navbar {
        background-color: #333;
        overflow: hidden;
        border-bottom: 1px solid #333;
        text-align: center;
    }

    .navbar-header {
        text-align: center;
    }

    /* Style the links inside the navigation bar */
    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        text-decoration: none;
        border-bottom: 1px solid transparent;
    }

    .navbar a:hover {
        border-bottom: 1px solid #f2f2f2;
    }

    .navbar a.active {
        border-bottom: 1px solid #f2f2f2;
    }
</style>


<nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark bg-company-black " role="navigation">
    <a class=" navbar-brand" href="/">HOME</a>
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarText">
        <ul class="nav navbar-nav nav-fill w-100 navbar-right">
            <li class="nav-item">
                <a class="nav-link " href="#aboutme">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#experience">EXPERIENCE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#skills">SKILLS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#projects">PROJECTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#achievements">ACHIEVEMENTS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>
<script type="text/javascript">
    $('.nav-link').click(function () {
        $('.navbar-collapse').removeClass('show');
    });
</script>