<style>
    #bar1 {
        border: 10px solid white;
    }

    @media only screen and (max-width: 600px) {
        .mybars {
            border: 8vw solid white;
        }
    }
</style>


<div class="w3-content w3-center w3-padding-64" style="max-width:800px" id="skills">
    <h2 class="w3-wide">SKILLS</h2>
    <div class="w3-container w3-content w3-padding-16" style="max-width:800px">
        <div class="w3-row-padding w3-padding-16 mybars" style="margin:-0vw -10.83vw">
            <div class="w3-half">
                <h4>Languages:</h4>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-red" style="width:85%;">Python</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-green" style="width:60%;">C</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-yellow" style="width:65%;">C++</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-deep-purple" style="width:80%;">HTML</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-grey" style="width:70%;">CSS</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-blue" style="width:55%;">JavaScript</div>
                </div>
            </div>
            <div class="w3-half">
                <h4>Technologies:</h4>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-blue" style="width:55%;">Web Development</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-red" style="width:75%;">Robotics</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-aqua" style="width:70%;">Machine Learning</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-yellow" style="width:50%;">Data Science</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-green" style="width:80%;">Computer Vision</div>
                </div>
            </div>
        </div>

        <div class="w3-row-padding w3-padding-16 mybars" style="margin:-0vw -10.83vw">
            <div class="w3-half">
                <h4>Tools:</h4>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-green" style="width:60%;">Arduino</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-black" style="width:75%;">Raspberry Pi</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-red" style="width:65%;">Git</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-yellow" style="width:55%;">Flask</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-blue" style="width:50%;">ROS</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-light-green" style="width:70%;">Ubuntu OS</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-pink" style="width:70%;">VS Code</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-orange" style="width:60%;">Jupyter</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-cyan" style="width:65%;">Dialogflow</div>
                </div>
            </div>
            <div class="w3-half">
                <h4>Libraries:</h4>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-purple" style="width:60%;">Numpy</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-blue" style="width:50%;">Tensorflow</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-lime" style="width:60%;">Keras</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-orange" style="width:65%;">Pandas</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-yellow" style="width:75%;">Scikit-Learn</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-grey" style="width:85%;">Open CV</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-pink" style="width:80%;">TKinter</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-red" style="width:40%;">Pygame</div>
                </div>
                <div class="w3-light-grey w3-round" id="bar1">
                    <div class="w3-container w3-round w3-indigo" style="width:60%;">Matplotlib</div>
                </div>
            </div>
        </div>
    </div>